/* Header */
#root {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    overflow: hidden;
    word-wrap: break-word;
    place-self: flex-start;
}
.lifestyle-header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.lifestyle-header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}