/* Header */
#root {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    overflow: hidden;
    word-wrap: break-word;
    place-self: flex-start;
}
.lifestyle-header {
    max-width: 1260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}
.lifestyle-header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.lifestyle-header ul li a{
    color: #3E613E;
    font-weight: 400;
}